<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252100398371-g2dqt9g2gc6mubvrvmhqis7qjal8lhmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252100398371-g2dqt9g2gc6mubvrvmhqis7qjal8lhmp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>252100398371-1f2b9njn7fti43cv686g9n8bj5viu0r1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAk1DBm2ySA0Bhw97sOpbu4jy_MLTue51Q</string>
	<key>GCM_SENDER_ID</key>
	<string>252100398371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abusalh.ironfit</string>
	<key>PROJECT_ID</key>
	<string>ironfit-edef8</string>
	<key>STORAGE_BUCKET</key>
	<string>ironfit-edef8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252100398371:ios:49d9237acdecb7db9cd096</string>
</dict>
</plist>